<h1>Bathroom <%= @bathroom.id %></h1>
<h1>in <%= @bathroom.location.name %> </h1>

<p>
  Where located:
  <%= @bathroom.location_description %>
  <br>
  CHANGE TO STARS  Rating:
  <%= @bathroom.rating %>
  <br>
  <br>
  Family friendly?
  <%= @bathroom.is_fam_friendly %>
  <br>
  Accessible?
  <%= @bathroom.is_accessible %>
  <br>
  Is gender-neutral?
  <%= !(@bathroom.is_gendered) %>
  <br>


  <br>
  <br>
  <%= link_to 'Edit', edit_bathroom_path(@bathroom)%>
  <br>
  <%= link_to 'Delete Bathroom', bathroom_path(@bathroom), method: :delete %>
  <br>
  <%= link_to 'Back to ' + @bathroom.location.name, location_path(@bathroom.location_id) %>
</p>
