<div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!-- Greeting/header for page -->
        <div id="location-name-header">
          <%= image_tag"toilet-paper-512-266798.png", :class => "style_image_1"%>
          <h1>Bathroom <%= @bathroom.id %></h1>
          <h1>in <%= @bathroom.location.name %> </h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="nav-options">
          <p>
            <%= link_to 'Edit', edit_bathroom_path(@bathroom)%> |
            <%= link_to 'Delete Bathroom', bathroom_path(@bathroom), method: :delete %> |
            <%= link_to 'Back to ' + @bathroom.location.name, location_path(@bathroom.location_id) %>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!-- Render location details -->
        <div class="class-id-detail">
          <p>
            <%= image_tag "glyph_man_child-512.png", :class => "style_image_1" %>
            Where located:
            <%= @bathroom.location_description %>
            <br>
            Rating:
            <%= @bathroom.rating || "Oops, no ratings yet!"%>
            <br>
            <br>
            <%= image_tag"glyph_man_child-512.png", :class => "style_image_1" %>
            Family friendly?
            <%= @bathroom.is_fam_friendly %>
            <br>
            <%= image_tag"Accessibility Icon_final.svg", :class => "style_image_1" %>
            Accessible?
            <%= @bathroom.is_accessible %>
            <br>
            <%= image_tag"gender_neutral_133748-200.png", :class => "style_image_1" %>
            Is gender-neutral?
            <%= !(@bathroom.is_gendered) %>
            <br>
          </p>
        </div>
      </div>
    </div>

</div> <!-- END containerfluid-->
