<p id="notice"><%= notice %></p>

<div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!-- Greeting/header for page -->
        <div id="location-name-header">
          <h1>Choose from <%= @location.bathrooms.count %> bathrooms at <%= @location.name %></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="nav-options">
          <%= link_to 'Edit ', edit_location_path(@location) %> |
          <%= link_to 'Back', locations_path %> |

          <td><%= link_to 'Edit', edit_location_path(@location) %></td> |
          <td><%= link_to 'Destroy', @location, method: :delete, data: { confirm: 'Are you sure you want to delete this location?' } %></td> |
          <%= link_to 'Add New Bathroom', new_bathroom_path %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!-- Render location details -->
        <div class="class-id-detail">
          <p>
            <%= @location.name %>
            <br>
            <%= @location.street_number %> <%= @location.street_name %>
            <br>
            Suite:
            <%= @location.suite || "N/A"%>
            <br>
            <%= @location.city %>
            <br>
            <%= @location.zip_code %>
          </p>
        </div>
      </div>
    </div>

      <div class="col-xs-12 col-md-12">
        <div class="render-list">
            <% @location.bathrooms.each do |bathroom| %>
            <p>
            <%= link_to bathroom_path(bathroom) do %>
                <%= image_tag "toilet-paper-512-266798.png", :class => "style_image_1" %>
                <% end %>
              <br>
              <br>
              Rating:
              <%= bathroom.rating %>
              <br>
              <%= image_tag "glyph_man_child-512.png", :class => "style_image_1"%> Where located:
              <%= bathroom.location_description %>
              <br>
              <%= image_tag "glyph_man_child-512.png", :class => "style_image_1" %> Family friendly?
              <%= bathroom.is_fam_friendly %>
              <br>
              <%= image_tag "Accessibility Icon_final.svg", :class => "style_image_1" %> Accessible?
              <%= bathroom.is_accessible %>
              <br>
              <%= image_tag "gender_neutral_133748-200.png", :class => "style_image_1" %> Is gender-neutral?
              <%= !(bathroom.is_gendered) %>
              <br>
              <hr>
          <% end %>
          </p>
        </div>
      </div>
    </div>

</div> <!-- END containerfluid-->
