<!DOCTYPE html>
<html>
  <head>
    <title>Weeme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="nav-content">
        <ul class="navbar-nav mr-auto">
          <li class="active">
            <a href="/bathrooms/new">New bathroom<span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <% if current_user %>
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li>
            <a href="/users/sign_in">Login</a>
          </li>
          <li>
            <a href="/users/sign_up">Sign up</a>
          </li>
          <% end %>
        </ul>
      </div>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </div>
  </nav>

  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
