<!DOCTYPE html>
<html>
  <head>
    <title>Weeme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <div class="col-md-12 row">
    <div class="col-md-3">
    This is image
    </div>
      <div class="col-md-6">
      This is search area
      </div>
      <div class="col-md-3">
      this is burger area
      </div>

  </div>


  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
